<div class="header">
    <h1>{{this.title}}</h1>
    <div class="header_menu">
        <span>
            <img src="../../../assets/svg/format_list_bulleted.svg">
            <a>Forms</a>
        </span>
        <span>
            <img src="../../../assets/svg/people.svg">
            <a>Customers</a>
        </span>
        <span [routerLink]="['home']">
            <img src="../../../assets/svg/graphic_eq.svg">
            <a>Submissions</a>
        </span>
        <span>
            <img src="../../../assets/svg/history.svg">
            <a>History</a>
        </span>
        <span>
            <img src="../../../assets/svg/insert_chart_outlined.svg">
            <a>Reports</a>
        </span>
        <span>
            <img src="../../../assets/svg/insert_chart_outlined.svg">
            <a>Workflow</a>
        </span>
    </div>
    <div>
        <span>
            <img src="../../../assets/svg/notifications.svg">
        </span>
        <span>
            <img src="../../../assets/svg/logout.svg">
        </span>

    </div>

</div>